html,body{
	min-height: 100vh;
	max-height: 100vh;
	width: 100%;
	margin:0;
	padding:0;
}
#authForm{
	position: relative;
	border: 1px solid black;
	width:500px;
	height:175px;
	margin:auto;
	top: 38vh;
	padding-top: 25px;
}
#authForm div{
	margin:auto;
	width:400px;
	display: flex;
	flex-direction: row;
}
#authForm p{
	flex-basis: 30%;
}
#authForm input{
	flex-basis: 70%;
	height: 30px;
	margin:auto;
}
#authForm button{
	width:150px;
	height:40px;
}
#authForm button[value=log-in]{
	margin-left:50px;
	margin-right:97px;
}
#toolbar{
	display: flex;
	flex-direction: row;
	height:60px;
	width:100%;
	padding:auto;
	border-bottom: 1px solid black;
	position:fixed;
	top:0;
	left:0;
	z-index: 1;
	background: rgba(255,255,255,1);
}
#toolbar p{
	margin: auto 20px;
}
#toolbar button, input, select{
	height:25px;
	margin-top:auto;
	margin-bottom:auto;
}
#toolbar button[value="findUser"]{
	margin-right:30px;
}
#toolbar input{
	border: 1px solid black;
	height:25px;
	margin-left:15px;
	margin-right:15px;
}
#toolbar label{
	margin-top:auto;
	margin-bottom: auto;
}
#toolbar select{
	margin-right: 5px;
}
#onPageCountSelect{
	margin-left: 15px;
	margin-right: 15px;
}
#usersList{
	position: relative;
	border-collapse: collapse;
	width:100%;
	height:100%;
	margin-bottom: 80px;
	top:62px;
}
#usersList tbody{
	min-height:100%;
	overflow-y: auto;
}
#usersList th {
	border-bottom: 1px solid black;
}
#usersList td, th{
	padding:3px;
	border-left:1px solid black;
}
footer{
	position:fixed;
	bottom: 0;
	left:0;
	height: 65px;
	width:100%;
	border-top:1px solid black;
	display: inline-block;
	padding: 5px 5px 5px 25px;
	background: rgba(255,255,255,1);
}
#userCard{
	border:1px solid black;
	width:650px;
	height:305px;
	display: flex;
	flex-direction: row;
	position:relative;
	margin: 250px auto auto;
	padding:5px;
}
#backBtn{
	position:absolute;
	top:100px;
	left:150px;
}
#backBtn *{
	width:125px;
	height:50px;
}
#fields{
	flex-basis: 70%;
	display: flex;
	flex-direction: column;
}
#fields div{
	flex-basis: auto;
	display: flex;
	justify-content: space-between;
}
#fields input{
	height: 30px;
	width:300px;
}
#buttons{
	flex-basis: 30%;
	display: flex;
	flex-direction: column;
}
#buttons *{
	width:125px;
	height:50px;
	margin:auto;
}
#messageWindow{
	position: absolute;
	top:100px;
	left:200px;
	height: 100px;
	width: 200px;
	border: 1px solid black;
	background: rgba(255,255,255,1);
}