<tr class="userRow">
	<td class="login">*userLogin*</td>
	<td class="name">*userName*</td>
	<td class="birth_date">*userBirthDate*</td>
	<td class="actions">
		<form method="post" action="interface.php">
			<input type="hidden" name="user_id" value="*id*">
			<button name="action" value="showEditForm">Show</button>
			<button name="action" value="deleteUser">Delete</button>
		</form>
	</td>
</tr>